{% extends 'base.html' %}
{% load static %}

    {% block title %}
        Now-On - Security Services | {{title}}
    {% endblock title %}
    {% block styles %}
        {% include 'main_app/includes/links.html' %}
    {% endblock styles %}
    {% block pre-load-scripts %}
        {% include 'main_app/includes/scripts.html' %}
        <script
        src="{% static 'js/chunks/pages/faq-7cd9abbfe7b3942b.js' %}"
        render=""
      ></script>
    {% endblock pre-load-scripts %}
    {% block content %}
    <div id="__next">
        {% include 'header.html' %}
        {% include 'main_app/includes/landing_crumb.html' %}
        <section class="faq-area ptb-100">
            <div class="container">
              <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A facilis
                  vel consequatur tempora atque blanditiis exercitationem incidunt,
                  alias corporis quam assumenda dicta, temporibus.
                </p>
              </div>
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="faq-accordion">
                    <div data-accordion-component="Accordion" class="accordion">
                      <div
                        data-accordion-component="AccordionItem"
                        class="accordion__item"
                      >
                        <div
                          data-accordion-component="AccordionItemHeading"
                          role="heading"
                          class="accordion__heading"
                          aria-level="3"
                        >
                          <div
                            class="accordion__button"
                            id="accordion__heading-a"
                            aria-disabled="false"
                            aria-expanded="true"
                            aria-controls="accordion__panel-a"
                            role="button"
                            tabindex="0"
                            data-accordion-component="AccordionItemButton"
                          >
                            What&#x27;s The Difference Between IDS And IBS?
                          </div>
                        </div>
                        <div
                          data-accordion-component="AccordionItemPanel"
                          class="accordion__panel"
                          role="region"
                          aria-labelledby="accordion__heading-a"
                          id="accordion__panel-a"
                        >
                          <p>
                            Lorem, ipsum dolor sit amet How do you Startup?
                            consectetur adipisicing elit. Accusamus ipsa error,
                            excepturi, obcaecati aliquid veniam blanditiis quas
                            voluptates maxime unde
                          </p>
                        </div>
                      </div>
                      <div
                        data-accordion-component="AccordionItem"
                        class="accordion__item"
                      >
                        <div
                          data-accordion-component="AccordionItemHeading"
                          role="heading"
                          class="accordion__heading"
                          aria-level="3"
                        >
                          <div
                            class="accordion__button"
                            id="accordion__heading-b"
                            aria-disabled="false"
                            aria-expanded="false"
                            aria-controls="accordion__panel-b"
                            role="button"
                            tabindex="0"
                            data-accordion-component="AccordionItemButton"
                          >
                            How Is Encryption Different From Hacking
                          </div>
                        </div>
                        <div
                          data-accordion-component="AccordionItemPanel"
                          class="accordion__panel"
                          role="region"
                          aria-labelledby="accordion__heading-b"
                          id="accordion__panel-b"
                          hidden=""
                        >
                          <p>
                            Lorem, ipsum dolor sit amet How do you Startup?
                            consectetur adipisicing elit. Accusamus ipsa error,
                            excepturi, obcaecati aliquid veniam blanditiis quas
                            voluptates maxime unde
                          </p>
                        </div>
                      </div>
                      <div
                        data-accordion-component="AccordionItem"
                        class="accordion__item"
                      >
                        <div
                          data-accordion-component="AccordionItemHeading"
                          role="heading"
                          class="accordion__heading"
                          aria-level="3"
                        >
                          <div
                            class="accordion__button"
                            id="accordion__heading-c"
                            aria-disabled="false"
                            aria-expanded="false"
                            aria-controls="accordion__panel-c"
                            role="button"
                            tabindex="0"
                            data-accordion-component="AccordionItemButton"
                          >
                            What Is Firewall And Why It Is Used?
                          </div>
                        </div>
                        <div
                          data-accordion-component="AccordionItemPanel"
                          class="accordion__panel"
                          role="region"
                          aria-labelledby="accordion__heading-c"
                          id="accordion__panel-c"
                          hidden=""
                        >
                          <p>
                            Lorem, ipsum dolor sit amet How do you Startup?
                            consectetur adipisicing elit. Accusamus ipsa error,
                            excepturi, obcaecati aliquid veniam blanditiis quas
                            voluptates maxime unde
                          </p>
                        </div>
                      </div>
                      <div
                        data-accordion-component="AccordionItem"
                        class="accordion__item"
                      >
                        <div
                          data-accordion-component="AccordionItemHeading"
                          role="heading"
                          class="accordion__heading"
                          aria-level="3"
                        >
                          <div
                            class="accordion__button"
                            id="accordion__heading-d"
                            aria-disabled="false"
                            aria-expanded="false"
                            aria-controls="accordion__panel-d"
                            role="button"
                            tabindex="0"
                            data-accordion-component="AccordionItemButton"
                          >
                            What Steps Will You Take To Secure server
                          </div>
                        </div>
                        <div
                          data-accordion-component="AccordionItemPanel"
                          class="accordion__panel"
                          role="region"
                          aria-labelledby="accordion__heading-d"
                          id="accordion__panel-d"
                          hidden=""
                        >
                          <p>
                            Lorem, ipsum dolor sit amet How do you Startup?
                            consectetur adipisicing elit. Accusamus ipsa error,
                            excepturi, obcaecati aliquid veniam blanditiis quas
                            voluptates maxime unde
                          </p>
                        </div>
                      </div>
                      <div
                        data-accordion-component="AccordionItem"
                        class="accordion__item"
                      >
                        <div
                          data-accordion-component="AccordionItemHeading"
                          role="heading"
                          class="accordion__heading"
                          aria-level="3"
                        >
                          <div
                            class="accordion__button"
                            id="accordion__heading-e"
                            aria-disabled="false"
                            aria-expanded="false"
                            aria-controls="accordion__panel-e"
                            role="button"
                            tabindex="0"
                            data-accordion-component="AccordionItemButton"
                          >
                            What Is Firewall And Why It Is Used?
                          </div>
                        </div>
                        <div
                          data-accordion-component="AccordionItemPanel"
                          class="accordion__panel"
                          role="region"
                          aria-labelledby="accordion__heading-e"
                          id="accordion__panel-e"
                          hidden=""
                        >
                          <p>
                            Lorem, ipsum dolor sit amet How do you Startup?
                            consectetur adipisicing elit. Accusamus ipsa error,
                            excepturi, obcaecati aliquid veniam blanditiis quas
                            voluptates maxime unde
                          </p>
                        </div>
                      </div>
                      <div
                        data-accordion-component="AccordionItem"
                        class="accordion__item"
                      >
                        <div
                          data-accordion-component="AccordionItemHeading"
                          role="heading"
                          class="accordion__heading"
                          aria-level="3"
                        >
                          <div
                            class="accordion__button"
                            id="accordion__heading-f"
                            aria-disabled="false"
                            aria-expanded="false"
                            aria-controls="accordion__panel-f"
                            role="button"
                            tabindex="0"
                            data-accordion-component="AccordionItemButton"
                          >
                            What&#x27;s The Difference Between IDS And IBS?
                          </div>
                        </div>
                        <div
                          data-accordion-component="AccordionItemPanel"
                          class="accordion__panel"
                          role="region"
                          aria-labelledby="accordion__heading-f"
                          id="accordion__panel-f"
                          hidden=""
                        >
                          <p>
                            Lorem, ipsum dolor sit amet How do you Startup?
                            consectetur adipisicing elit. Accusamus ipsa error,
                            excepturi, obcaecati aliquid veniam blanditiis quas
                            voluptates maxime unde
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="faq-img">
                    <img src="{% static 'img/faq-img.jpg' %}" alt="FAQ Image" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="faq-contact-area pb-100">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="contact-wrap">
                    <div class="contact-form">
                      <div class="section-title">
                        <h2>Ask Questions</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Impedit, libero harum cum numquam repellendus autem
                          recusandae voluptatem, asperiores iusto magni
                          reprehenderit
                        </p>
                      </div>
                      <form>
                        <div class="row">
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input
                                type="text"
                                name="name"
                                placeholder="Name"
                                class="form-control"
                                required=""
                                value=""
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input
                                type="text"
                                name="email"
                                placeholder="Email"
                                class="form-control"
                                required=""
                                value=""
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input
                                type="text"
                                name="number"
                                placeholder="Phone number"
                                class="form-control"
                                required=""
                                value=""
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                              <input
                                type="text"
                                name="subject"
                                placeholder="Subject"
                                class="form-control"
                                required=""
                                value=""
                              />
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                              <textarea
                                name="text"
                                cols="30"
                                rows="7"
                                placeholder="Write your message..."
                                class="form-control"
                                required=""
                              ></textarea>
                            </div>
                          </div>
                          <div class="col-lg-12 col-sm-12">
                            <button type="submit" class="default-btn page-btn">
                              Send Message
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
    {% include 'footer.html' %}
    {% endblock content %}