{% extends 'base.html' %}
{% load static %}

    {% block title %}
        Now-On - Security Services | {{title}}
    {% endblock title %}
    {% block styles %}
        {% include 'main_app/includes/links.html' %}
    {% endblock styles %}
    {% block pre-load-scripts %}
        {% include 'main_app/includes/scripts.html' %}
    {% endblock pre-load-scripts %}
    {% block content %}
    <div id="__next">
        {% include 'header.html' %}
        {% include 'main_app/includes/landing_crumb.html' %}
  
    <div class="faq-contact-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Make an Order</h2>
                <p>
                    Our team of highly trained security professionals is committed to delivering exceptional service and tailored solutions to meet your specific requirements. Whether you're a business owner, property manager, event organizer, or an individual seeking personal protection, we have the expertise and resources to assist you.

                    Contacting us is simple. 
                </p>
              </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="contact-wrap">
                <div class="contact-form">
                <form>
                    <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                        <input
                            type="text"
                            name="name"
                            placeholder="Name"
                            class="form-control"
                            required=""
                            value=""
                        />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                        <input
                            type="text"
                            name="email"
                            placeholder="Email"
                            class="form-control"
                            required=""
                            value=""
                        />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                        <input
                            type="text"
                            name="number"
                            placeholder="Phone number"
                            class="form-control"
                            required=""
                            value=""
                        />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                        <input
                            type="text"
                            name="subject"
                            placeholder="Product"
                            class="form-control"
                            required=""
                            value=""
                        />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                        <textarea
                            name="text"
                            cols="30"
                            rows="7"
                            placeholder="Write your description here..."
                            class="form-control"
                            required=""
                        ></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12" id="maps">
                        <button type="submit" class="default-btn page-btn">
                        Make Order
                        </button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="contact-info-area">
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
            <div class="single-contact-info">
                <i class="bx bx-location-plus"></i>
                <h3>Ogun State, Nigeria</h3>
                <p>WH69+26X, 110105, Gbara Bagbimo, Ogun State</p>
                <a
                href="mailto:test@gmail.com"
                >Email:
                <span
                    >mail@nowonsecurityltd.com</span
                ></a
                ><a href="tel:+2348051930666">+2348051930666</a>
            </div>
            </div>
            <div class="col-lg-6 p-0">
            <div class="single-contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.8367688008075!2d3.5655375114907923!3d6.910112618519187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bcf1facc8bf6b%3A0xe159d62688c87f6a!2sUvest%20Integrated%20limited!5e0!3m2!1sen!2sng!4v1689407424731!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            </div>          
        </div>
        </div>
    </div>
    </div>
    {% include 'footer.html' %}
{% endblock content %}