{% extends 'base.html' %}
{% load static %}

{% block title %}
    NowOn - Security Services | {{title}}
{% endblock title %}
{% block styles %}
    {% include 'main_app/includes/links.html' %}
{% endblock styles %}
{% block pre-load-scripts %}
    {% include 'main_app/includes/scripts.html' %}
{% endblock pre-load-scripts %}
{% block content %}
<div id="__next">
    {% include 'header.html' %}
    {% include 'main_app/includes/landing_crumb.html' %}
    <div class="container pt-4 ">
      <div class="section-title py-4 pt-4">
        <h2>Now-ON Gallery</h2>
        <p>
          We invite you to explore our gallery and envision the level of security we can provide for your specific needs. If you have any questions, require additional information, or would like to discuss how our services can benefit you, please don't hesitate to contact us.
        </p>
      </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="single-blog">
            <img src="{% static 'images/standing_officers.jpg' %}" alt="Image" />
            <div class="blog-content">
              <h3>
                <a href="blog-details/index.html">Officers in full regalia</a>
              </h3>
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-blog">
            <img src="{% static 'images/sidelook_office.jpg' %}" alt="Image" />
            <div class="blog-content">
              <h3><a href="blog-details/index.html">Nowon Private Security Guard</a></h3>
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
          <div class="single-blog">
            <img src="{% static 'images/nowon_office2.jpg' %}" alt="Image" />
            <div class="blog-content">
              <h3>
                <a href="blog-details/index.html">Nowon Office</a>
              </h3>
              <p>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% include 'footer.html' %}
{% endblock content %}