{% extends 'base.html' %}
{% load static %}

    {% block title %}
        Now-On - Security Services | {{title}}
    {% endblock title %}
    {% block styles %}
        {% include 'main_app/includes/links.html' %}
    {% endblock styles %}
    {% block pre-load-scripts %}
        {% include 'main_app/includes/scripts.html' %}
    {% endblock pre-load-scripts %}
    {% block content %}
    <div id="__next">
        {% include 'header.html' %}
        {% include 'main_app/includes/landing_crumb.html' %}

  <section class="blog-details-area ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="blog-details-desc">
            <div class="article-content">
              <h3>
                {{service.title}}
              </h3>
              <p style="width:80%">{{service.excerpt}}</p>
              <div class="article-image">
                <img
                  src="{% static 'images/'|add:thumbnail %}"
                  alt="image"
                />
              </div>
              <p>
                Quuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam dolor sit, consectetur
                qui ratione voluptatem sequi.
              </p>
              <blockquote class="flaticon-quote">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Repellendus aliquid praesentium eveniet illum asperiores,
                  quidem, ipsum voluptatum numquam ducimus nisi
                  exercitationem dolorum facilis Repellendus aliquid
                  praesentium eveniet illum asperiores.
                </p>
              </blockquote>
             
             
            </div>
            {% comment %} <div class="article-footer">
              <div class="article-tags">
                <span><i class="bx bx-share-alt"></i></span
                ><a href="#">Share</a>
              </div>
              <div class="article-share">
                <ul class="social">
                  <li>
                    <a href="https://facebook.com/" target="_blank"
                      ><i class="bx bxl-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"
                      ><i class="bx bxl-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/" target="_blank"
                      ><i class="bx bxl-linkedin"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://pinterest.com/" target="_blank"
                      ><i class="bx bxl-pinterest-alt"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="blog-right-sidebar sidebar-pl-15">
            <aside class="widget-area" id="secondary">
              <div class="widget widget-peru-posts-thumb">
                <h3 class="widget-title">Other Services</h3>
                <div class="post-wrap">
                {% for service in services  %}
                {% comment %} {% with access as  %}{% endwith %} {% endcomment %}
                  <div class="item">
                    <a class="thumb" href="{% url 'services-detail' service.slug %}"
                      ><span class="fullimage cover bg1" role="img" style="background-image:url({% static 'images/services/'|add:service.image %})"></span
                    ></a>
                    <div class="info">
                      <h5 class="title usmall">
                        <a href="{% url 'services-detail' service.slug %}"
                          >{{service.title}}</a
                        >
                      </h4>
                      <a href="{% url 'services-detail' service.slug %}" style="color:black"> 
                        <i>{% lorem 5 w random %}</i>
                      </a>
                    </div>
                    <div class="clear"></div>
                  </div>
                 {% endfor %}
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
      <section class="cybersecurity-area ptb-100">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="cybersecurity-content">
                <h2>24/7 Electronic Technology and ICT in Integrated Security Systems</h2>
                <p>
                  With the integration of advanced technology and technical know how, NOW-ON offers services to revolutionize your security system,personalised to your taste.
                </p>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <ul class="cybersecurity-item">
                      <li>
                        <i class="bx bx-check"></i>CCTV Systems
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Security Alarms
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Fire safety Gadgets
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Computer Integration
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Electronic Locks
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <ul>
                      <li>
                        <i class="bx bx-check"></i>Electronic Doors
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Infrared illumination
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Day/night video technology
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Electronic Safes
                      </li>
                      <li>
                        <i class="bx bx-check"></i>Mobile connectivity for remote detection
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pr-0">
              <div class="cybersecurity-img"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  {% include 'footer.html' %}
{% endblock content %}