<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="NOWONSECURITYLTD.COM">
    <meta property="og:title" content="NOW ON SECURITY LIMITED"/>
    <meta property="og:image" content="{% static 'images/main_logo.jpg' %}"/>
    <meta property="og:description" content="We are here to strategically reduce the rate of crime on establishment at a time and create a safer, healthier and more secure environment to live in."/>
    <meta property="og:keywords" content="nowon security , security company, now on"/>
    <meta property="og:url" content='https://nowonsecurityltd.com'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
      <meta property="og:type" content='website'/> 
    <title>{%block title %} {% endblock %}</title>
    {% block styles %}
    {% endblock styles %}
    {% block pre-load-scripts %}{% endblock pre-load-scripts %}
</head>
<body>
    {% block content %}

    {% endblock content %}
    {% block scripts %}
        
    {% endblock scripts %}
</body>

</html>  