{% load static %}
<footer class="footer-top-area pt-100 pb-70 jarallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-widget contact">
            <h3>Contact Us</h3>
            <ul class="contact-info">
              <li>
                <i class="bx bx-phone-call"></i><span>Hotline:</span
                ><a href="tel:Phone:+892-569-756">Phone: +892-569-756</a>
              </li>
              <li>
                <i class="bx bx-envelope"></i><span>Email:</span
                ><a
                  href="mailto:test@nowonss.com"
                  ><span
                    class=""
                    >[email&#160;protected]</span
                  ></a
                >
              </li>
              <li>
                <i class="bx bx-location-plus"></i><span>Address:</span>Sagamu-Abeokuta Express Road, Ogun State.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-widget">
            <h3>Services</h3>
            <ul>
              <li>
                <a href="{% url 'services-detail' 'access-control-services' %}"
                  ><i class="bx bx-chevrons-right"></i>CCTV Services</a
                >
              </li>
              <li>
                <a href="{% url 'services-detail' 'consultation-services' %}"
                  ><i class="bx bx-chevrons-right"></i>Training and Consulting Services</a
                >
              </li>
              <li>
                <a href="{% url 'services-detail' 'canine-security-services' %}"
                  ><i class="bx bx-chevrons-right"></i>Canine Services</a
                >
              </li>
              <li>
                <a href="{% url 'services-detail' 'fire-safety-services' %}"
                  ><i class="bx bx-chevrons-right"></i>Fire Safety Services</a
                >
              </li>
              <li>
                <a href="{% url 'services-detail' 'access-control-services' %}"
                  ><i class="bx bx-chevrons-right"></i>Access Control Services</a
                >
              </li>
              <li>
                <a href="{% url 'services-detail' 'training-services' %}"
                  ><i class="bx bx-chevrons-right"></i>BodyGuard and Close Protection Service</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-widget">
            <h3>Support &amp; Help</h3>
            <ul>
              <li>
                <a href="contact/index.html"
                  ><i class="bx bx-chevrons-right"></i>Support</a
                >
              </li>
              <li>
                <a href="{% url 'about-more' 'faq' %}"
                  ><i class="bx bx-chevrons-right"></i>FAQ Questions</a
                >
              </li>
              <li>
                <a href="{% url 'contact' %}"
                  ><i class="bx bx-chevrons-right"></i>24/7 Support for Help</a
                >
              </li>
              <li>
                <a href="{% url 'contact' %}"
                  ><i class="bx bx-chevrons-right"></i>Socials</a
                >
              </li>
              <li>
                <a href="{% url 'contact' %}"
                  ><i class="bx bx-chevrons-right"></i>Contact</a
                >
              </li>
              <li>
                <a href="{% url 'contact' %}"
                  ><i class="bx bx-chevrons-right"></i>WhatsApp</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-widget">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <a href="{% url 'services' %}"
                  ><i class="bx bx-chevrons-right"></i>Services</a
                >
              </li>
              <li>
                <a href="{% url 'about' %}"
                  ><i class="bx bx-chevrons-right"></i>About Us</a
                >
              </li>
              <li>
                <a href="{% url 'gallery' %}"
                  ><i class="bx bx-chevrons-right"></i>Gallery</a
                >
              </li>
              <li>
                <a href="{% url 'about-more' 'teams' %}"
                  ><i class="bx bx-chevrons-right"></i>Administrational Team</a
                >
              </li>
              <li>
                <a href="{% url 'contact' %}"
                  ><i class="bx bx-chevrons-right"></i>Contact Us</a
                >
              </li>
              <li>
                <a href="{% url 'about-more' 'testimonials' %}"
                  ><i class="bx bx-chevrons-right"></i>Testimonials</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <footer class="footer-bottom-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="copy-right">
            <p>
              Copyright ©2023
              CodeWarlock. Designed by
              <a href="https://github.com/Code-Warlock" target="blank"
                >CodeWarlock</a
              >
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="condition-privacy">
            <ul>
              <li>
                <a href="terms-conditions/index.html"
                  >Terms &amp; Condition</a
                >
              </li>
              <li>
                <a href="privacy-policy/index.html">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>