{% load static %}
{% comment %} <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> {% endcomment %}
<header class="header-area fixed-top">
  <div class="top-header-area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-8">
          <ul class="header-content-left">
            <li>
              <a href="mailto:mail@nowonsecurityltd.com"
                ><i class="bx bx-envelope"></i>Email:
                <span>mail@nowonsecurityltd.com</span>
              </a>
            </li>
            <li onclick="window.location.href='{% url 'contact' %}#maps'" style="cursor:pointer;">
              <i class="bx bx-location-plus"></i>Sagamu-Abeokuta Express Road,
              Ogun State.
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-4">
          <ul class="header-content-right">
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/NowonSSLTD?s=20" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/nowonsecurityservicesltd/" target="_blank"><i class="bx bxl-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-area">
    <div id="navbar" class="navbar-area">
      <div class="main-nav">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{% url 'index' %}"
              ><img
                src="{% static 'images/g2.png' %}"
                style="
                  width: 150px;
                  height: 150px;
                  object-fit: cover;
                  object-position: top;
                "
                alt="logo" /></a
            >
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="icon-bar top-bar"></span
              ><span class="icon-bar middle-bar"></span
              ><span class="icon-bar bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About<i class="bx bx-chevron-down"></i></a>
                  
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'about-more' 'team' %}">Our Team</a>
                    </li>
                    {% comment %} <li class="nav-item">
                      <a class="nav-link" href="{% url 'about-more' 'faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'about-more' 'testimonials' %}">Testimonials</a>
                    </li> {% endcomment %}
                  </ul>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
              </ul>
            </div>
            <div class="others-option d-none ">
              <div class="get-quote">
                <a class="default-btn " href="{% url 'contact' %}"
                  >Get A Quote</a
                >
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
