{% load static %}
<section class="approach-area pb-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="approach-img">
            <img src="{% static 'images/office_view.jpg' %}" alt="Image" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="approach-content">
            <h2>Our Approach To Security</h2>
            <p>
              Our company strictly follows our <b style="color:orange;"> core values </b>, these values are the foundation of our operations and the corporate culture is built on these values that help to shape a long-term, financially successful enterprise by creating value for customers, employees and shareholders. 
            </p>
            <ul>
              <li>
                <i class="bx bx-check"></i>
                <h3>Quality</h3>
                <p>
                  Our standard of service is top notch as we offer only the best options in the market. Good quality is the foundation of business.
                  <br>From raw material collection, production and testing, to coating, packaging and shipment, we maintain a complete and in-depth quality management, no superficial, no bait-and-switch practice.
                </p>
              </li>
              <li>
                <i class="bx bx-check"></i>
                <h3>Efficiency</h3>
                <p>
                  All delivaries are made on the scheduled dates, all preparations are made on the proposed time, and we pay keen attention to details. This is one of our most outstanding trait. Effienciently giving you the best client experience and trust in your security from Now on.
                </p>
              </li>
              <li>
                <i class="bx bx-check"></i>
                <h3>Integrity</h3>
                <p>
                  Honesty, responsibility, dependability, loyalty and trust. It simply is not just our core value but the very fabric of every core value. We abide by these high moral standard in our everday activities.
                </p>
              </li>
              <li>
                <i class="bx bx-check"></i>
                <h3>Discipline</h3>
                <p>
                  Our security guards are trained to act professionally at all time. No compromise no shortcuts. They are the embodiment of our core values. With this as our gumption to stick with difficult tasks all obstacles and discomfort are overcomed as we push to new height.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>