{% load static %}
<section class="electronic-area bg-color ptb-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="electronic-content">
            <h2>
              Innovative Protection of Your Office and Home
              Control
            </h2>
            <div class="electronic-tab-wrap">
              <div class="tab electronic-tab">
                <ul class="tabs">
                  {% for tab in titles %}
                  {% if tab == "CCTV System" %}
                  <li class="current {{tab}}">{{tab}}</li>
                  {% else %}
                  <li class="{{tab}}">{{tab}}</li>

                  {% endif %}
                  
                  {% endfor %}
                </ul>
                <div class="tab_content">
                  <div id="tab1" class="tabs_item">
                    <p>
                      Implementing security monitoring tools and systems to detect and respond to security incidents in real-time. This involves monitoring system logs, network traffic, and user activities to identify potential threats
                      <br>
                      Regular security audits should also be conducted to assess the effectiveness of security controls and identify areas for improvement.
                    </p>
                    <a class="default-btn" href="{% url 'about' %}"
                      >Learn More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include 'main_app/includes/tab_script.html' %}
        </div>
        <div class="col-lg-6">
          <div class="electronic-img">
            <img src="{% static 'images/cctv_electronic.jpg' %}" style="object-fit:cover;mix-blend-mode:soft-light;" alt="Image" />
          </div>
        </div>
      </div>
    </div>
  </section>