{% load static %}
<noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="{% static 'js/chunks/polyfills-5cd94c89d3acac5f.js' %}"
    ></script>
    <script
      src="{% static 'js/chunks/webpack-4103e0756718b7a6.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/framework-4729b95aa6cb8cde.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/main-cb1674035c81259c.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/pages/_app-f95da7f2b786ad42.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/9045-2813d364f70aaa76.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/8918-b56798d6f62354ce.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/3435-2f3c895e58381de3.js' %}"
      defer=""
    ></script>
    <script src="{% static 'js/chunks/11-e1104246072c723a.js' %}" defer=""></script>
    <script
      src="{% static 'js/chunks/4487-74e1f68836b1f15f.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/pages/index-72981105a55b1406.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/ofc6xsc2uIs5vTCNRD8oT/_buildManifest.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/ofc6xsc2uIs5vTCNRD8oT/_ssgManifest.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/ofc6xsc2uIs5vTCNRD8oT/_middlewareManifest.js' %}"
      defer=""
    ></script>