<script>
    let tabs = document.querySelector('.tabs');
    let tabcontent = document.querySelector('div.tab_content');
    tabs.addEventListener('click', (e)=>{
      e.preventDefault();
      let items = tabs.querySelectorAll('li')
      for (let i of items) {
        i.classList.remove('current');
      }
      if(!e.target.classList.contains('current') && e.target.localName=='li' && e.target.classList.contains("CCTV")) {
        e.target.classList.add('current');
        tabcontent.innerHTML = `
        <div id="tab1" class="tabs_item">
          <p>
            CCTV System Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobisaperiam est praesentium, quos iste consequuntur omnis
            <br>
            CCTV System Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobisaperiam est praesentium, quos iste consequuntur omnis
          </p>
          <a class="default-btn" href="{% url 'about' %}"
            >Learn About</a
          >
        </div>`
      }
      if(!e.target.classList.contains('current') && e.target.localName=='li' && e.target.classList.contains("Access-control")) {
        e.target.classList.add('current');
        tabcontent.innerHTML = `
        <div id="tab1" class="tabs_item">
          <p>
                      Implementing security monitoring tools and systems to detect and respond to security incidents in real-time. This involves monitoring system logs, network traffic, and user activities to identify potential threats
                      <br>
                      Regular security audits should also be conducted to assess the effectiveness of security controls and identify areas for improvement.
                    </p>
                    <a class="default-btn" href="{% url 'about' %}"
                      >Learn More</a
                    >
        </div>`
      }
      if(!e.target.classList.contains('current') && e.target.localName=='li' && e.target.classList.contains("Canine")) {
        e.target.classList.add('current');
        tabcontent.innerHTML = `
        <div id="tab1" class="tabs_item">
          <p>
            Canine Services Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis aperiam est praesentium, quos iste consequuntur omnis
            <br>
            Canine Services Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis aperiam est praesentium, quos iste consequuntur omnis
          </p>
          <a class="default-btn" href="{% url 'about' %}"
            >Learn About</a
          >
        </div>`
      }
      if(!e.target.classList.contains('current') && e.target.localName=='li' && e.target.classList.contains("Fire")) {
        e.target.classList.add('current');
        tabcontent.innerHTML = `
        <div id="tab1" class="tabs_item">
          <p>
            Fire safety Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis aperiam est praesentium, quos iste consequuntur omnis
            <br>
            Fire safety Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis aperiam est praesentium, quos iste consequuntur omnis
          </p>
          <a class="default-btn" href="{% url 'about' %}"
            >Learn About</a
          >
        </div>`
      }
      if(!e.target.classList.contains('current') && e.target.localName=='li' && e.target.classList.contains("Goals")) {
        e.target.classList.add('current');
        tabcontent.innerHTML = `
        <div id="tab1" class="tabs_item">
          <p>
            Now-on Security Services Limited is on a mission to actively combat the increasing rise in criminal activities.
            Combine technology and processes to create a secure IT environemt and protect valuable cyber information and assets
            <br>
            Ensure a safe environment for everyone by enstablishing a trusted and lasting security presence
          </p>
          <a class="default-btn" href="{% url 'about' %}"
            >Learn More</a
          >
        </div>`
      }
    });
  
  </script>