<div class="container pt-100">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="single-features">
          <h3><i class="bx bx-check-shield"></i> Security</h3>
          <p>
            NOW-ON capabilities dominate security training and offers expert consulting services on how to maximize security and effectively minimize crime.
          </p>
          <span class="bx bx-check-shield"></span>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-features">
          <h3><i class="bx bx-info-circle"></i> Consultation</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
          <span class="bx bx-info-circle"></span>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
        <div class="single-features mb-0">
          <h3>
            <i class="bx bx-certification"></i> Industry Certified
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
          <span class="bx bx-certification"></span>
        </div>
      </div>
    </div>
  </div>