{% load static %}
<section class="approach-area pb-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 pt-4 pb-4 mt-4">
          <h2 class="text-center">Who We Are</h2>
          <p class="px-4 ">
          Now on Security Service Limited, an elite security and facility services company, provides proactive security services and cutting-edge smart technology to deliver evolving, tailored solutions that allow clients to focus on their core business.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="approach-img">
            <img src="{% static 'images/office_view.jpg' %}" alt="Image" />
          </div>
        </div>
        <div class="col-lg-6 mx-auto">
          <div class="approach-content">
            <ul>
              <li>
                {% comment %} <i class="flaticon-cyber"></i> {% endcomment %}
                <h3>Our Mission</h3>
                <p>
                  Now-on Security Services Limited was created to combat the increasing rise in criminal acts, vandalism and safety hazards growing in our world today. We cover all areas and types of security, traffic control, supply of security equipment and accessories.
                </p>
              </li>
              <li>
                {% comment %} <i class="flaticon-cyber-security"></i> {% endcomment %}
                <h3>Our Vision</h3>
                <p>
                  Security presence is essential in establishing peace of mind and it creates a safe environment for everyone, to carry out your daily tasks, channel your focus on what needs and strategically reduce crime one establishment at a time and create a safer, healthier and more secure environment to live in. 
                </p>
              </li>
              <li>
                {% comment %} <i class="flaticon-profile"></i> {% endcomment %}
                <h3>Mission Statement</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut suspendisse ultrices
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>